In [1]:
from randan.descriptive_statistics import ScaleStatistics # интервальная статистика
import pandas as pd # для обработки и анализа структурированных данных
import numpy as np# для корректной работы рандана 
from randan.bivariate_association import Correlation

# Надежность-устойчивость: Индекс гендерного неравенства Программы развития Организации Объединенных Наций за 2013-2022 гг. (Gender Inequality Index, GII, United Nations Development Program)

Массив данных находится в папке: https://disk.yandex.ru/d/PWOTilngObaAJg

Рейтинг на официальном сайте ООН: https://hdr.undp.org/data-center/thematic-composite-indices/gender-inequality-index#/indicies/GII

In [2]:
# загружаем таблицу
df = pd.read_excel('un_gii.xlsx')

In [3]:
# дескриптивная статистика
# данные за 2013-2022 годы, от 155 до 166 стран с доступной статистикой
df.describe()

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,155.000000,155.000000,158.000000,159.000000,159.000000,163.000000,165.000000,165.000000,165.000000,166.000000
mean,0.365819,0.362310,0.359462,0.353283,0.345214,0.345123,0.341509,0.338873,0.339673,0.334711
std,0.191434,0.190345,0.189886,0.191886,0.193054,0.194823,0.195887,0.195881,0.198099,0.194808
min,0.039000,0.035000,0.033000,0.030000,0.023000,0.018000,0.016000,0.013000,0.013000,0.009000
25%,0.192000,0.187500,0.195000,0.193000,0.184000,0.177500,0.166000,0.184000,0.180000,0.177250
50%,0.378000,0.378000,0.377000,0.365000,0.361000,0.365000,0.355000,0.359000,0.352000,0.351000
75%,0.525500,0.526000,0.522500,0.511000,0.509000,0.505500,0.497000,0.497000,0.496000,0.493250
max,0.796000,0.803000,0.811000,0.838000,0.821000,0.819000,0.816000,0.815000,0.821000,0.820000

In [4]:
# удаляем пробелы
df = df.dropna()

In [5]:
# в таблице остается 155 стран без пробелов в данных (изначально было 194) 
df

,country,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,0.712,0.692,0.692,0.688,0.681,0.678,0.676,0.674,0.653,0.665
1,Albania,0.191,0.186,0.178,0.161,0.145,0.139,0.131,0.129,0.117,0.116
2,Algeria,0.422,0.417,0.409,0.407,0.417,0.405,0.397,0.396,0.457,0.460
4,Angola,0.549,0.553,0.548,0.543,0.547,0.537,0.533,0.529,0.529,0.520
6,Argentina,0.356,0.349,0.340,0.337,0.325,0.303,0.291,0.303,0.296,0.292
...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),0.494,0.489,0.493,0.513,0.497,0.497,0.497,0.522,0.522,0.521
191,Viet Nam,0.378,0.380,0.384,0.380,0.384,0.389,0.391,0.386,0.378,0.378
192,Yemen,0.796,0.803,0.811,0.809,0.809,0.808,0.789,0.787,0.821,0.820
193,Zambia,0.574,0.571,0.562,0.542,0.545,0.529,0.521,0.522,0.526,0.526
194,Zimbabwe,0.549,0.538,0.532,0.529,0.519,0.521,0.527,0.520,0.519,0.519

In [6]:
# проверяем нормальность распределения для первого года (2013)
# тест Колмогорова-Смирнова
ss = ScaleStatistics(df, [2013], show_results=False, normality_test=True, normality_test_type='ks') 
ss.summary()

NORMALITY TESTS
------------------

,N,mode,median,mean,25%,75%,interquart. range,interquart. range (norm.),min,max,range,std,var,entropy coef.,quality var.
2013,155.0,0.549,0.378,0.365819,0.192,0.5255,0.3335,0.440555,0.039,0.796,0.757,0.191434,0.036647,0.987857,0.998811

Данные за 2013 год не имеют нормального распределения (значение теста Колмогорова-Смирнова 0.082 при p-value < 0,05). Применим метод Спирмена для корреляционного анализа.

In [7]:
# корреляционный анализ значений рейтинга по годам
# метод Спирмена
corr = Correlation(df, method = 'spearman', two_tailed = False, n_decimals=3)

CORRELATION SUMMARY (SPEARMAN METHOD, 1-TAILED)
------------------
The following variables were removed from the analysis since they do not belong to numerical dtypes: country

Note: Each empty index duplicates the previous one.
Maximum correlation is 0.998 (p-value 0.0) for variables 2014 and 2015,
minimum correlation is 0.967 (p-value 0.0) for variables 2013 and 2020.

In [8]:
# приводим в табличный вид для приложения в диссертации
corr.correlation_matrix

                           2013           2014           2015           2016  \
2013 Coefficient   1.000000e+00   9.977070e-01   9.958072e-01   9.915749e-01
     p-value                NaN  3.713715e-181  3.889580e-161  5.085529e-138
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2014 Coefficient   9.977070e-01   1.000000e+00   9.982984e-01   9.944022e-01
     p-value      3.713715e-181            NaN  4.667415e-191  1.477052e-151
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2015 Coefficient   9.958072e-01   9.982984e-01   1.000000e+00   9.965855e-01
     p-value      3.889580e-161  4.667415e-191            NaN  6.031123e-168
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2016 Coefficient   9.915749e-01   9.944022e-01   9.965855e-01   1.000000e+00
     p-value      5.085529e-138  1.477052e-151  6.031123e-168            NaN
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2017 Coefficient   9.696853e-01   9.724024e-01   9.749556e-01   9.790700e-01
     p-value       7.743433e-96   6.510752e-99  4.268418e-102  5.433689e-108
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2018 Coefficient   9.694137e-01   9.718570e-01   9.749250e-01   9.781338e-01
     p-value       1.516064e-95   2.850439e-98  4.681175e-102  1.491422e-106
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2019 Coefficient   9.693237e-01   9.707333e-01   9.740446e-01   9.766523e-01
     p-value       1.891667e-95   5.460135e-97  6.344653e-101  2.124799e-104
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2020 Coefficient   9.671420e-01   9.682156e-01   9.719112e-01   9.751731e-01
     p-value       3.339323e-93   2.739120e-94   2.464755e-98  2.207980e-102
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2021 Coefficient   9.691699e-01   9.714898e-01   9.751016e-01   9.782459e-01
     p-value       2.757633e-95   7.576986e-98  2.743770e-102  1.010523e-106
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2022 Coefficient   9.703973e-01   9.714878e-01   9.748723e-01   9.781946e-01
     p-value       1.291079e-96   7.618639e-98  5.484994e-102  1.207707e-106
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02

                           2017           2018           2019           2020  \
2013 Coefficient   9.696853e-01   9.694137e-01   9.693237e-01   9.671420e-01
     p-value       7.743433e-96   1.516064e-95   1.891667e-95   3.339323e-93
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2014 Coefficient   9.724024e-01   9.718570e-01   9.707333e-01   9.682156e-01
     p-value       6.510752e-99   2.850439e-98   5.460135e-97   2.739120e-94
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2015 Coefficient   9.749556e-01   9.749250e-01   9.740446e-01   9.719112e-01
     p-value      4.268418e-102  4.681175e-102  6.344653e-101   2.464755e-98
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2016 Coefficient   9.790700e-01   9.781338e-01   9.766523e-01   9.751731e-01
     p-value      5.433689e-108  1.491422e-106  2.124799e-104  2.207980e-102
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2017 Coefficient   1.000000e+00   9.982315e-01   9.956324e-01   9.946705e-01
     p-value                NaN  8.899087e-190  8.796029e-160  3.484288e-153
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2018 Coefficient   9.982315e-01   1.000000e+00   9.978013e-01   9.967048e-01
     p-value      8.899087e-190            NaN  1.501888e-182  3.993969e-169
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2019 Coefficient   9.956324e-01   9.978013e-01   1.000000e+00   9.982307e-01
     p-value      8.796029e-160  1.501888e-182            NaN  9.202447e-190
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2020 Coefficient   9.946705e-01   9.967048e-01   9.982307e-01   1.000000e+00
     p-value      3.484288e-153  3.993969e-169  9.202447e-190            NaN
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2021 Coefficient   9.931574e-01   9.953899e-01   9.966532e-01   9.977876e-01
     p-value      6.609945e-145  5.440802e-158  1.306639e-168  2.412213e-182
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02
2022 Coefficient   9.927844e-01   9.949646e-01   9.967637e-01   9.975540e-01
     p-value      3.778252e-143  4.579007e-155  1.007735e-169  5.172765e-179
     N             1.550000e+02   1.550000e+02   1.550000e+02   1.550000e+02

                           2021           2022
2013 Coefficient   9.691699e-01   9.703973e-01
     p-value       2.757633e-95   1.291079e-96
     N             1.550000e+02   1.550000e+02
2014 Coefficient   9.714898e-01   9.714878e-01
     p-value       7.576986e-98   7.618639e-98
     N             1.550000e+02   1.550000e+02
2015 Coefficient   9.751016e-01   9.748723e-01
     p-value      2.743770e-102  5.484994e-102
     N             1.550000e+02   1.550000e+02
2016 Coefficient   9.782459e-01   9.781946e-01
     p-value      1.010523e-106  1.207707e-106
     N             1.550000e+02   1.550000e+02
2017 Coefficient   9.931574e-01   9.927844e-01
     p-value      6.609945e-145  3.778252e-143
     N             1.550000e+02   1.550000e+02
2018 Coefficient   9.953899e-01   9.949646e-01
     p-value      5.440802e-158  4.579007e-155
     N             1.550000e+02   1.550000e+02
2019 Coefficient   9.966532e-01   9.967637e-01
     p-value      1.306639e-168  1.007735e-169
     N             1.550000e+02   1.550000e+02
2020 Coefficient   9.977876e-01   9.975540e-01
     p-value      2.412213e-182  5.172765e-179
     N             1.550000e+02   1.550000e+02
2021 Coefficient   1.000000e+00   9.982493e-01
     p-value                NaN  4.111209e-190
     N             1.550000e+02   1.550000e+02
2022 Coefficient   9.982493e-01   1.000000e+00
     p-value      4.111209e-190            NaN
     N             1.550000e+02   1.550000e+02

Значения коэффициента корреляции Спирмена составляют от 0,967 для 2013 и 2020 года до 0,998 для 2014 и 2021 года при p-value менее 0,05. Рейтинг ООН "Индекс гендерного неравенства" обладает высокой надежностью-устойчивостью.