In [1]:
from randan.descriptive_statistics import ScaleStatistics # интервальная статистика
import pandas as pd # для обработки и анализа структурированных данных
import numpy as np# для корректной работы рандана 
from randan.bivariate_association import Correlation

# Надежность-устойчивость: Индекс гендерного разрыва Всемирного экономического форума за 2013-2023 гг. (Gender Gap Index, GGI, World Economic Forum)

Массив данных находится в папке: https://disk.yandex.ru/d/PWOTilngObaAJg

Рейтинг за 2023 год на официальном сайте ВЭФ: https://www.weforum.org/publications/global-gender-gap-report-2023/ (отчеты с рейтингами выложены в ПДФ, таблица с данными создана на основе 10 отчетов)

In [2]:
# загружаем таблицу
df = pd.read_excel('wef_all.xlsx')

In [3]:
# дескриптивная статистика
# от 136 до 149 стран в рейтингах за разные годы
df.describe()

,2013,2014,2015,2016,2017,2018,2020,2021,2022,2023
count,136.000000,142.000000,145.000000,144.000000,144.000000,149.000000,153.000000,156.000000,146.000000,146.000000
mean,0.686394,0.692065,0.695014,0.694715,0.697000,0.695409,0.700144,0.703878,0.709760,0.711966
std,0.060218,0.059289,0.059602,0.057786,0.058788,0.060735,0.061679,0.067826,0.065929,0.067697
min,0.512800,0.514500,0.484000,0.516000,0.516000,0.499000,0.494000,0.444000,0.435000,0.405000
25%,0.651675,0.652525,0.662000,0.663500,0.669000,0.662000,0.665000,0.664500,0.670500,0.676000
50%,0.691250,0.693850,0.698000,0.697000,0.695000,0.701000,0.707000,0.710500,0.710000,0.711000
75%,0.717700,0.726400,0.733000,0.729000,0.731000,0.730000,0.736000,0.742250,0.749000,0.760750
max,0.873100,0.859400,0.881000,0.874000,0.878000,0.858000,0.877000,0.892000,0.908000,0.912000

In [4]:
# удаляем пробелы
df = df.dropna()

In [5]:
# в таблице остается 121 страна без пробелов в данных (изначально было 161) 
df

,country,2013,2014,2015,2016,2017,2018,2020,2021,2022,2023
1,Albania,0.6412,0.6869,0.701,0.704,0.728,0.734,0.769,0.770,0.787,0.791
2,Algeria,0.5966,0.6182,0.632,0.642,0.629,0.629,0.634,0.633,0.602,0.573
3,Angola,0.6659,0.6311,0.637,0.643,0.640,0.633,0.660,0.657,0.638,0.656
4,Argentina,0.7195,0.7317,0.734,0.735,0.732,0.733,0.746,0.752,0.756,0.762
5,Armenia,0.6634,0.6622,0.668,0.669,0.677,0.678,0.684,0.673,0.698,0.721
...,...,...,...,...,...,...,...,...,...,...,...
150,United Arab Emirates,0.6372,0.6436,0.646,0.639,0.649,0.642,0.655,0.716,0.716,0.712
151,United Kingdom,0.7440,0.7383,0.758,0.752,0.770,0.774,0.767,0.775,0.780,0.792
152,United States,0.7392,0.7463,0.740,0.722,0.718,0.720,0.724,0.763,0.769,0.748
153,Uruguay,0.6803,0.6871,0.679,0.681,0.710,0.715,0.737,0.702,0.711,0.714
157,Vietnam,0.6863,0.6915,0.687,0.700,0.698,0.698,0.700,0.701,0.705,0.711

In [6]:
# проверяем нормальность распределения по каждому году
# тест Колмогорова-Смирнова
ss = ScaleStatistics(df, [2013], show_results=False, normality_test=True, normality_test_type='ks') 
ss.summary()

NORMALITY TESTS
------------------

,N,mode,median,mean,25%,75%,interquart. range,interquart. range (norm.),min,max,range,std,var,entropy coef.,quality var.
2013,121.0,0.6803,0.6917,0.690719,0.6599,0.7218,0.0619,0.189181,0.5459,0.8731,0.3272,0.05777,0.003337,0.998058,0.999799

Распределение данных за каждый год ближе к нормальному (значение p-value > 0,05 для каждого года, нет повода отклонить гипотезу о нормальном распределении). Применим метод Пирсона и метод Спирмена (как для остальных рейтингов) для корреляционного анализа.

In [7]:
# корреляционный анализ значений рейтинга по годам, метод Пирсона
corrp = Correlation(df, method = 'pearson', two_tailed = False, n_decimals=3)

CORRELATION SUMMARY (PEARSON METHOD, 1-TAILED)
------------------
The following variables were removed from the analysis since they do not belong to numerical dtypes: country

Note: Each empty index duplicates the previous one.
Maximum correlation is 0.988 (p-value 0.0) for variables 2015 and 2016,
minimum correlation is 0.86 (p-value 0.0) for variables 2013 and 2022.

In [8]:
# корреляционный анализ значений рейтинга по годам, метод Спирмена
corrs = Correlation(df, method = 'spearman', two_tailed = False, n_decimals=3)

CORRELATION SUMMARY (SPEARMAN METHOD, 1-TAILED)
------------------
The following variables were removed from the analysis since they do not belong to numerical dtypes: country

Note: Each empty index duplicates the previous one.
Maximum correlation is 0.985 (p-value 0.0) for variables 2015 and 2016,
minimum correlation is 0.823 (p-value 0.0) for variables 2013 and 2023.

In [9]:
# приводим в табличный вид для приложения в диссертации 
# метод Спирмена, для сравнения с другими рейтингами
corrs.correlation_matrix

                          2013          2014          2015          2016  \
2013 Coefficient  1.000000e+00  9.467461e-01  9.351937e-01  9.239130e-01
     p-value               NaN  1.040874e-60  8.752598e-56  8.769879e-52
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2014 Coefficient  9.467461e-01  1.000000e+00  9.541005e-01  9.427691e-01
     p-value      1.040874e-60           NaN  1.867260e-64  6.721442e-59
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2015 Coefficient  9.351937e-01  9.541005e-01  1.000000e+00  9.846976e-01
     p-value      8.752598e-56  1.867260e-64           NaN  1.883209e-92
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2016 Coefficient  9.239130e-01  9.427691e-01  9.846976e-01  1.000000e+00
     p-value      8.769879e-52  6.721442e-59  1.883209e-92           NaN
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2017 Coefficient  8.839963e-01  9.169879e-01  9.516793e-01  9.565691e-01
     p-value      2.080199e-41  1.270418e-49  3.703349e-63  7.484673e-66
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2018 Coefficient  8.795865e-01  9.067529e-01  9.478504e-01  9.518322e-01
     p-value      1.674126e-40  9.436080e-47  3.090634e-61  3.080596e-63
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2020 Coefficient  8.531651e-01  8.734568e-01  9.120988e-01  9.238889e-01
     p-value      9.933106e-36  2.663014e-39  3.303732e-48  8.929928e-52
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2021 Coefficient  8.388486e-01  8.719977e-01  9.063515e-01  9.107971e-01
     p-value      1.614181e-33  5.037453e-39  1.203745e-46  7.618738e-48
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2022 Coefficient  8.235758e-01  8.717266e-01  8.969396e-01  8.993270e-01
     p-value      2.187795e-31  5.665990e-39  2.702327e-44  7.202130e-45
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2023 Coefficient  8.230212e-01  8.645715e-01  8.873616e-01  8.980064e-01
     p-value      2.591428e-31  1.149269e-37  3.998307e-42  1.502779e-44
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02

                          2017          2018          2020          2021  \
2013 Coefficient  8.839963e-01  8.795865e-01  8.531651e-01  8.388486e-01
     p-value      2.080199e-41  1.674126e-40  9.933106e-36  1.614181e-33
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2014 Coefficient  9.169879e-01  9.067529e-01  8.734568e-01  8.719977e-01
     p-value      1.270418e-49  9.436080e-47  2.663014e-39  5.037453e-39
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2015 Coefficient  9.516793e-01  9.478504e-01  9.120988e-01  9.063515e-01
     p-value      3.703349e-63  3.090634e-61  3.303732e-48  1.203745e-46
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2016 Coefficient  9.565691e-01  9.518322e-01  9.238889e-01  9.107971e-01
     p-value      7.484673e-66  3.080596e-63  8.929928e-52  7.618738e-48
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2017 Coefficient  1.000000e+00  9.800281e-01  9.440698e-01  9.225821e-01
     p-value               NaN  1.252442e-85  1.778631e-59  2.364950e-51
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2018 Coefficient  9.800281e-01  1.000000e+00  9.676773e-01  9.362324e-01
     p-value      1.252442e-85           NaN  2.411079e-73  3.451586e-56
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2020 Coefficient  9.440698e-01  9.676773e-01  1.000000e+00  9.518004e-01
     p-value      1.778631e-59  2.411079e-73           NaN  3.201192e-63
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2021 Coefficient  9.225821e-01  9.362324e-01  9.518004e-01  1.000000e+00
     p-value      2.364950e-51  3.451586e-56  3.201192e-63           NaN
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2022 Coefficient  9.107391e-01  9.275974e-01  9.399010e-01  9.815458e-01
     p-value      7.905140e-48  5.106645e-53  1.132751e-57  1.187316e-87
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02
2023 Coefficient  9.094676e-01  9.220371e-01  9.456077e-01  9.460012e-01
     p-value      1.765325e-47  3.531946e-51  3.542892e-60  2.326801e-60
     N            1.210000e+02  1.210000e+02  1.210000e+02  1.210000e+02

                          2022          2023
2013 Coefficient  8.235758e-01  8.230212e-01
     p-value      2.187795e-31  2.591428e-31
     N            1.210000e+02  1.210000e+02
2014 Coefficient  8.717266e-01  8.645715e-01
     p-value      5.665990e-39  1.149269e-37
     N            1.210000e+02  1.210000e+02
2015 Coefficient  8.969396e-01  8.873616e-01
     p-value      2.702327e-44  3.998307e-42
     N            1.210000e+02  1.210000e+02
2016 Coefficient  8.993270e-01  8.980064e-01
     p-value      7.202130e-45  1.502779e-44
     N            1.210000e+02  1.210000e+02
2017 Coefficient  9.107391e-01  9.094676e-01
     p-value      7.905140e-48  1.765325e-47
     N            1.210000e+02  1.210000e+02
2018 Coefficient  9.275974e-01  9.220371e-01
     p-value      5.106645e-53  3.531946e-51
     N            1.210000e+02  1.210000e+02
2020 Coefficient  9.399010e-01  9.456077e-01
     p-value      1.132751e-57  3.542892e-60
     N            1.210000e+02  1.210000e+02
2021 Coefficient  9.815458e-01  9.460012e-01
     p-value      1.187316e-87  2.326801e-60
     N            1.210000e+02  1.210000e+02
2022 Coefficient  1.000000e+00  9.564718e-01
     p-value               NaN  8.526068e-66
     N            1.210000e+02  1.210000e+02
2023 Coefficient  9.564718e-01  1.000000e+00
     p-value      8.526068e-66           NaN
     N            1.210000e+02  1.210000e+02

Значения коэффициента корреляции Спирмена составляют от 0,823 для 2013 и 2023 года до 0,985 для 2015 и 2016 года при p-value менее 0,05. Рейтинг ВЭФ "Индекс гендерного разрыва" обладает высокой надежностью-устойчивостью.