In [1]:
from randan.descriptive_statistics import ScaleStatistics # интервальная статистика
import pandas as pd # для обработки и анализа структурированных данных
import numpy as np# для корректной работы рандана 
from randan.bivariate_association import Correlation

# Надежность-устойчивость: Индекс гендерного развития Программы развития Организации Объединенных Наций за 2013-2022 гг. (Gender Development Index, GDI, United Nations Development Program)

Массив данных находится в папке: https://disk.yandex.ru/d/PWOTilngObaAJg

Рейтинг на официальном сайте ООН: https://hdr.undp.org/gender-development-index#/indicies/GDI

In [2]:
# загружаем таблицу
df = pd.read_excel('un_gdi.xlsx')

In [3]:
# дескриптивная статистика
# Данные за 2013-2022 годы, данные по 170-182 странам за разные годы. 
df.describe()

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,170.000000,171.000000,176.000000,176.000000,176.000000,180.000000,181.000000,181.000000,181.000000,182.000000
mean,0.942606,0.945175,0.944960,0.947011,0.946983,0.947056,0.948785,0.951530,0.951011,0.948934
std,0.064796,0.065278,0.065845,0.067506,0.067999,0.069264,0.067950,0.067959,0.068641,0.071218
min,0.620000,0.584000,0.547000,0.509000,0.473000,0.468000,0.464000,0.464000,0.457000,0.456000
25%,0.912500,0.917000,0.917500,0.916750,0.919500,0.918500,0.926000,0.927000,0.927000,0.926000
50%,0.962500,0.963000,0.963000,0.965000,0.966000,0.967000,0.969000,0.970000,0.972000,0.970500
75%,0.986000,0.988000,0.986250,0.988000,0.988000,0.989000,0.990000,0.990000,0.991000,0.991000
max,1.035000,1.050000,1.050000,1.050000,1.057000,1.065000,1.072000,1.070000,1.069000,1.064000

In [4]:
# удаляем пробелы
df = df.dropna()

In [5]:
# в таблице остается 170 стран без пробелов в данных (изначально было 194 страны) 
df

,country,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,0.667,0.657,0.682,0.685,0.696,0.701,0.700,0.695,0.717,0.622
1,Albania,0.963,0.958,0.969,0.968,0.966,0.970,0.972,0.978,0.981,0.977
2,Algeria,0.858,0.857,0.865,0.869,0.872,0.873,0.877,0.879,0.882,0.881
4,Angola,0.860,0.871,0.877,0.892,0.896,0.902,0.889,0.906,0.898,0.905
6,Argentina,0.999,0.996,0.998,0.994,0.994,0.998,0.998,0.999,0.990,0.995
...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),1.021,1.022,1.021,1.020,1.018,1.015,1.006,1.001,1.002,1.002
191,Viet Nam,1.003,1.004,1.006,1.007,1.005,1.005,1.006,1.003,1.004,1.007
192,Yemen,0.620,0.584,0.547,0.509,0.473,0.468,0.464,0.464,0.457,0.456
193,Zambia,0.899,0.901,0.904,0.903,0.934,0.940,0.928,0.945,0.939,0.930
194,Zimbabwe,0.926,0.928,0.925,0.932,0.940,0.935,0.928,0.936,0.961,0.936

In [6]:
# проверяем нормальность распределения для первого года (2013)
# тест Колмогорова-Смирнова
ss = ScaleStatistics(df, [2013], show_results=False, normality_test=True, normality_test_type='ks') 
ss.summary()

NORMALITY TESTS
------------------

,N,mode,median,mean,25%,75%,interquart. range,interquart. range (norm.),min,max,range,std,var,entropy coef.,quality var.
2013,170.0,0.981,0.9625,0.942606,0.9125,0.986,0.0735,0.177108,0.62,1.035,0.415,0.064796,0.004199,0.971994,0.99708

Данные за 2013 год не имеют нормального распределения (значение теста Колмогорова-Смирнова 0.137 при p-value < 0,05). Применим метод Спирмена для корреляционного анализа.

In [7]:
# корреляционный анализ значений рейтинга по годам
corr = Correlation(df, method = 'spearman', two_tailed = False, n_decimals=3)

CORRELATION SUMMARY (SPEARMAN METHOD, 1-TAILED)
------------------
The following variables were removed from the analysis since they do not belong to numerical dtypes: country

Note: Each empty index duplicates the previous one.
Maximum correlation is 0.989 (p-value 0.0) for variables 2013 and 2015,
minimum correlation is 0.927 (p-value 0.0) for variables 2014 and 2021.

In [8]:
# приводим в табличный вид для приложения в диссертации
corr.correlation_matrix

                           2013           2014           2015           2016  \
2013 Coefficient   1.000000e+00   9.768814e-01   9.887112e-01   9.679436e-01
     p-value                NaN  8.566961e-115  9.882219e-141  4.960509e-103
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2014 Coefficient   9.768814e-01   1.000000e+00   9.773445e-01   9.535961e-01
     p-value      8.566961e-115            NaN  1.595507e-115   8.485814e-90
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2015 Coefficient   9.887112e-01   9.773445e-01   1.000000e+00   9.712126e-01
     p-value      9.882219e-141  1.595507e-115            NaN  6.771773e-107
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2016 Coefficient   9.679436e-01   9.535961e-01   9.712126e-01   1.000000e+00
     p-value      4.960509e-103   8.485814e-90  6.771773e-107            NaN
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2017 Coefficient   9.733717e-01   9.611653e-01   9.801603e-01   9.671329e-01
     p-value      1.060722e-109   3.718006e-96  2.582507e-120  3.907373e-102
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2018 Coefficient   9.745717e-01   9.613446e-01   9.834502e-01   9.672470e-01
     p-value      2.317836e-111   2.539111e-96  7.189682e-127  2.931815e-102
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2019 Coefficient   9.563878e-01   9.429254e-01   9.659224e-01   9.566531e-01
     p-value       5.200234e-92   1.924683e-82  7.753347e-101   3.149883e-92
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2020 Coefficient   9.514752e-01   9.480142e-01   9.643085e-01   9.444746e-01
     p-value       3.314048e-88   9.345195e-86   3.533691e-99   2.035990e-83
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2021 Coefficient   9.412164e-01   9.270905e-01   9.507935e-01   9.329382e-01
     p-value       2.134672e-81   8.427340e-74   1.039740e-87   9.629931e-77
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2022 Coefficient   9.489262e-01   9.317183e-01   9.559800e-01   9.376894e-01
     p-value       2.195684e-86   4.156854e-76   1.117268e-91   2.456332e-79
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02

                           2017           2018           2019           2020  \
2013 Coefficient   9.733717e-01   9.745717e-01   9.563878e-01   9.514752e-01
     p-value      1.060722e-109  2.317836e-111   5.200234e-92   3.314048e-88
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2014 Coefficient   9.611653e-01   9.613446e-01   9.429254e-01   9.480142e-01
     p-value       3.718006e-96   2.539111e-96   1.924683e-82   9.345195e-86
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2015 Coefficient   9.801603e-01   9.834502e-01   9.659224e-01   9.643085e-01
     p-value      2.582507e-120  7.189682e-127  7.753347e-101   3.533691e-99
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2016 Coefficient   9.671329e-01   9.672470e-01   9.566531e-01   9.444746e-01
     p-value      3.907373e-102  2.931815e-102   3.149883e-92   2.035990e-83
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2017 Coefficient   1.000000e+00   9.882639e-01   9.714143e-01   9.687982e-01
     p-value                NaN  2.538162e-139  3.783754e-107  5.310875e-104
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2018 Coefficient   9.882639e-01   1.000000e+00   9.795474e-01   9.760037e-01
     p-value      2.538162e-139            NaN  3.242369e-119  1.889463e-113
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2019 Coefficient   9.714143e-01   9.795474e-01   1.000000e+00   9.799805e-01
     p-value      3.783754e-107  3.242369e-119            NaN  5.469290e-120
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2020 Coefficient   9.687982e-01   9.760037e-01   9.799805e-01   1.000000e+00
     p-value      5.310875e-104  1.889463e-113  5.469290e-120            NaN
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2021 Coefficient   9.613252e-01   9.704113e-01   9.727098e-01   9.810898e-01
     p-value       2.646315e-96  6.575026e-106  8.116088e-109  4.767363e-122
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02
2022 Coefficient   9.666239e-01   9.726822e-01   9.740591e-01   9.757519e-01
     p-value      1.391168e-101  8.824153e-109  1.213042e-110  4.494116e-113
     N             1.700000e+02   1.700000e+02   1.700000e+02   1.700000e+02

                           2021           2022
2013 Coefficient   9.412164e-01   9.489262e-01
     p-value       2.134672e-81   2.195684e-86
     N             1.700000e+02   1.700000e+02
2014 Coefficient   9.270905e-01   9.317183e-01
     p-value       8.427340e-74   4.156854e-76
     N             1.700000e+02   1.700000e+02
2015 Coefficient   9.507935e-01   9.559800e-01
     p-value       1.039740e-87   1.117268e-91
     N             1.700000e+02   1.700000e+02
2016 Coefficient   9.329382e-01   9.376894e-01
     p-value       9.629931e-77   2.456332e-79
     N             1.700000e+02   1.700000e+02
2017 Coefficient   9.613252e-01   9.666239e-01
     p-value       2.646315e-96  1.391168e-101
     N             1.700000e+02   1.700000e+02
2018 Coefficient   9.704113e-01   9.726822e-01
     p-value      6.575026e-106  8.824153e-109
     N             1.700000e+02   1.700000e+02
2019 Coefficient   9.727098e-01   9.740591e-01
     p-value      8.116088e-109  1.213042e-110
     N             1.700000e+02   1.700000e+02
2020 Coefficient   9.810898e-01   9.757519e-01
     p-value      4.767363e-122  4.494116e-113
     N             1.700000e+02   1.700000e+02
2021 Coefficient   1.000000e+00   9.870662e-01
     p-value                NaN  8.471851e-136
     N             1.700000e+02   1.700000e+02
2022 Coefficient   9.870662e-01   1.000000e+00
     p-value      8.471851e-136            NaN
     N             1.700000e+02   1.700000e+02

Значения коэффициента корреляции Спирмена составляют от 0,927 для 2013 и 2015 года до 0,989 для 2014 и 2021 года при p-value менее 0,05. Рейтинг ООН "Индекс гендерного развития" обладает высокой надежностью-устойчивостью.